/*
 * Bootstrap video player
 * A customizable HTML5 video player plugin for jQuery based on bootstrap UI
 * version: 1.0
 * Author: zied.hosni.mail@gmail.com
 * 2012 © html5-ninja.com
 * 2012-09-26
 */

.videoController {
    background: #333;
    height: 35px;
    z-index: 100;
    position: absolute;
    left: 0;
    bottom: 0;
    position: relative;
    overflow: hidden;
}

.videoController .volumeMedia li {
    float: left;
    height: 12px;
    width: 3px;
    background: #ccc;
    margin: 0;
    margin-right: 1px;
    cursor: pointer;
}

.videoController .volumeMedia li.on {
    background: #fff;
}

.videoController .progress {
    position: absolute;
    width: 75%;
    border-radius: 4px;
    left: 140px;
    top: 13px;
    height: 8px;
    background-color:#666!important;
    margin-bottom: 0px;
    background: none;

}

.videoController .progress .bar {
    transition: width 0.1s ease 0s;
    -moz-transition: width 0.1s ease 0s;
    -webkit-transition: width 0.1s ease 0s;
    -o-transition: width 0.1s ease 0s;
}
.videoController .progress .bar.progressBar{
  height: 10px;
  background-color:#fff;
  opacity: 0.6;

}
.videoController .progress .bar.bufferBar {
    position: absolute;
    left: 0;
    top: 0;
}

.videoController .mute {
    cursor: pointer;
}

.videoController .fullscreen {
    cursor: pointer;
    height: 30px;
    width: 30px;
    background: url('../img/fullscreen.png') no-repeat!important;
    margin-top: 5px;
    margin-right: 5px;
}

.videoController .playMedia {
    float: left;
    height: 14px;
    line-height: normal;
}

.videoController .timer {
    float: left;
    font-weight: normal;
    padding: 0;
    margin: 2px 15px;
    line-height: 32px;
    height: 30px;
    width: 100px;
    font-size: 14px;
    width: 100px;
    color: #fff;

}

.videoController .mute {
    float: left;
}

.videoController .volumeMedia {
    float: left;
    margin: 2px 0 0 0;
    display: none;
}

.videoController .fullscreen {
    float: right;
    margin-right: 3px;
}

.videoUiWrapper {
    position: relative;
}

.videoUiWrapper.thumbnail {
    float: left;
}

.videoUiWrapper.thumbnail .videoController {
    left: 4px;
    bottom: 4px;
    width: 100% !important;
}
.icon-play{
    background: url('../img/d0_play.png') no-repeat;
    width: 16px;
    height: 24px;
    margin-top: 5px;
    margin-left: 15px;
}
.pauseMedia .icon-pause{
    background: url('../img/d0_pause.png') no-repeat;
    width: 16px;
    height: 24px;
    margin-top: 9px;
    margin-left: 15px;
}
